/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.medium {
  margin: 0% 2% 2% 0%;
  width: 62%;
  display: inline-block;
  float: left;
}

.small {
  width: 30%;
  display: inline-block;
  margin: 0% 2% 2% 0;
  float: left;
  position: relative;
  font-size: 95.5%;
}

.large {
  margin: 0% 0% 1% 0%;
}
