/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
  padding-top: 20px;
}

/* Posititoning Classes */

/*   LAYOUT   */

.col-1 {
  float: left;
  width: 32%;
}

.col-2 {
  float: left;
  width: 66%;
}

[class*="col-"] {
  margin-left: 2%;
}

.shoe-display{
  padding-top: 30px;
}

.first {
  margin-left: 0%;
}

#follow-bg {
  height: 100%
}

#details div {
  padding-top:10px;
  padding-left:10px;
}

.milk_text {
  padding-top:20px;
}
